<div class="js-cart-summary card checkout-card cart-summary-row">
    <div class="row">
        <div class="cart-summary-title">
            <h4>Summary</h4>
        </div>
    </div>
    <div class="row cart-summary-breakdown">
        <!-- Subtotal -->
        <div>
            <span>Subtotal</span>
            <span class="pull-right">$4.99</span>
            
        </div>

        <!-- Total Savings -->
        <div>
            <span>Total Savings</span>
            <span class="pull-right">$0.00</span>
            
        </div>

        <!-- Taxes -->
        <div>
            <span>Taxes</span>
            <span class="pull-right">$0.00</span>
            
        </div>

        <!-- Total Shipping -->
        <div>
            <span>Shipping</span>
            <span class="pull-right">$5.00</span>
            
        </div>

        <!-- Estimated Total -->
        

        <!-- Total -->
        <div class="cart-total">
            <span>Total</span>
            
            <span class="pull-right">$9.99</span>
        </div>

        <!-- Cart related actions -->
        
<div class="cart-actions js-hiddenPerformCheckoutActions is-hidden">
    <a href="#" class="btn btn-primary pull-right js-performCheckout">
        <span>Place Your Order</span> <i class="material-icons">keyboard_arrow_right</i>
    </a>
</div>
    </div>
</div>