<div class="js-checkoutStages">
    
        <div class="card checkout-card">
    <div class="checkout-stage-title">
        <h4>
            <i class="material-icons text-success">check</i>
            Shipping
        </h4>

        
            <a class="btn btn-primary btn-simple btn-lg pull-right js-editCheckoutStage"
               data-requested-checkout-stage="SHIPPING_INFO">Edit</a>
        
    </div>

    <div class="checkout-stage js-checkoutStage">
        
            <div id="shipping_info_stage">

    

    
        

    

    
        <form method="post" novalidate="novalidate" name="SHIPPING_FORM" action="/checkout/singleship" id="shippingInfo" class="js-shippingInfo">

            <div class="row">
                <div class="col-sm-6 read-only-shipping-address">
                    <h4><span>Shipping Information</span></h4>

                    

    <address class="read-only-address js-readOnlyShippingAddress">
        
        
            Cust Omer<br />
        
        Street<br /> 
        City,&nbsp;AL&nbsp;11111<br />
        
    </address>
    

                </div>
                <div class="col-sm-6 read-only-shipping-method">
                    <h4>Shipping Method</h4>
                    <b>Standard</b><br /> (5 - 7 Days)
                </div>
            </div>
        <input name="csrfToken" type="hidden" value="K0IO-LZG5-YYA3-LEIK-ESVN-8VDV-HKMJ-RJAR"/></form>
    


    

</div>
        
        
    </div>
</div>
    

    <div class="card checkout-card js-paymentStageCard">
    <div class="checkout-stage-title">
        <h4>
            <i class="material-icons text-success js-checkoutStageCompleteIcon is-hidden">check</i>
            Payment
        </h4>

        <a class="btn btn-primary btn-simple btn-lg pull-right js-editCheckoutStage is-hidden"
           data-requested-checkout-stage="PAYMENT_INFO">Edit</a>
    </div>

    <div class="checkout-stage js-checkoutStage">
        
    <div class="alert alert-danger payment-alert">
    <div class="container-fluid">
        <div class="alert-icon">
            <i class="material-icons">error_outline</i>
        </div>
        <b><span>Alert</span>:</b> This site is for demonstration purposes only. No orders will be fulfilled and no payment information is saved.
    </div>
</div>


        <div class="js-readOnlyPaymentStageContent is-hidden">
            <div id="read_only_payment_methods">
    <div class="js-readOnlyPaymentMethod" data-type="CreditCard">

        <div id="read_only_credit_card_payment_method" class="read-only-credit-card-payment-method">
    <div class="row">
        <div class="col-sm-6">
            <h4><span>Billing Information</span></h4>

            

    <address class="read-only-address">
        
        
            <br />
        
        <br /> 
        ,&nbsp;&nbsp;<br />
        
    </address>
    

            <address>customer@gmail.com</address>

        </div>

        <div class="col-sm-6">
            <h4><span>Payment Information</span></h4>

            

            
                

    <div class="read-only-credit-card">
        <ul class="credit-card-types">
            <li id="AmericanExpress" class="is-hidden"><img src="/img/payment/american-express-curved-32px.png"/></li>
            <li id="MasterCard" class="is-hidden"><img src="/img/payment/mastercard-curved-32px.png"/></li>
            <li id="Visa" class="is-hidden"><img src="/img/payment/visa-curved-32px.png"/></li>
            <li id="Discover" class="is-hidden"><img src="/img/payment/discover-curved-32px.png"/></li>
        </ul>
        <div class="credit-card-number js-creditCardNumber is-hidden">
            <span class="credit-card-hidden-chars">**** </span>
            <span class="credit-card-last-four js-creditCardLastFour"></span>
        </div>
    </div>
    <div class="credit-card-exp js-creditCardExpDate is-hidden"></div>


            
        </div>
    </div>
</div>
    </div>

    <div class="js-readOnlyPaymentMethod is-hidden" data-type="PayPal">

        <div id="ready_only_pay_pal_payment_method" class="read-only-paypal-payment-method-container">
    <div class="row">
        <div class="col-sm-3 text-center-mobile">
            <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"/>
        </div>
        <div class="col-sm-9">Your payment information for this order was collected via PayPal.</div>
    </div>
</div>
    </div>

    <div class="js-readOnlyPaymentMethod is-hidden" data-type="COD">
        <div id="ready_only_cod_payment_method" class="read-only-cod-payment-method">
    <p>Payment will be collected upon item's delivery.</p>
</div>
    </div>
</div>
        </div>

        <div class="payment-stage-content js-paymentStageContent">
            <div id="payment_methods">
    <div class="payment-method-selectors js-paymentMethodSelectors">
        <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary text-center">
                <li class="center-pill active" data-value="PayPal">
                    <a href="#PayPal" data-toggle="pill">PayPal</a>
                </li>
                <li class="center-pill" data-value="CreditCard">
                    <a href="#CreditCard" data-toggle="pill">Credit Card</a>
                </li>
                <li class="center-pill" data-value="COD">
                    <a href="#COD" data-toggle="pill">Collect On Delivery</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="payment-method-content">
        <div class="payment_info js-paymentInfoForm">
            <div class="tab-content">
                <div id="PayPal" class="tab-pane active">
                    <div id="pay_pal_payment_method" class="paypal-payment-method-container">
    

    
        <div class="row">
            <div class="col-sm-3">
                <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" class="text-center-mobile"/>
            </div>
            <div class="col-sm-9">
                Your PayPal information has not been configured.
                To accept transactions via PayPal, you'll need to complete the <a href="https://www.broadleafcommerce.com/docs/paypal/current/paypal-configuration-properties"  class="js-payPalConfigLink">configuration setup</a>.
            </div>
        </div>
    
</div>
                </div>
                <div id="CreditCard" class="tab-pane">
                    <div id="credit_card_payment_method">
    <div class="row">
        <div class="col-sm-12" >
            <div class="row js-savedPaymentsContainer is-hidden">
                <div class="col-sm-12 choose-saved-payment">
                    

                    <div class="col-sm-4 card-plain payment-method-card">
                        <div class="card define-new-credit-card js-defineNewCreditCard">
                            <div class="card-content">
                                <i class="material-icons">add</i>
                                <div>Define a new card</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row js-creditCardPaymentFormContainer">
                <form action="/checkout/payment" method="POST" class="js-creditCardPaymentForm">
                    <input type="hidden" class="js-paymentToken" id="paymentToken" name="paymentToken" value=""/>
                    <input type="hidden" class="js-customerPaymentId" id="customerPaymentId" name="customerPaymentId" value=""/>
                    <input type="hidden" class="js-shouldUseCustomerPayment is-hidden" id="shouldUseCustomerPayment" name="shouldUseCustomerPayment" value="false" />
                    <input type="hidden" class="is-hidden" id="shouldSaveNewPayment" name="shouldSaveNewPayment" value="true" />

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 card-plain choose-saved-payment-action js-chooseSavedPaymentAction">
                                <div class="card">
                                    <div class="card-content">
                                        <span>Choose a saved card</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h4><span>Billing Information</span></h4>

                        
    

    <div class="js-billingInfo">

        <div class="checkbox use-shipping-address-wrapper">
            <label>
                <input class="js-shouldUseShippingAddress" type="checkbox" id="shouldUseShippingAddress1" name="shouldUseShippingAddress" value="true"><input type="hidden" name="_shouldUseShippingAddress" value="on"/>
                <span>Same as my shipping address</span>
            </label>
        </div>

        <div class="choose-billing-address js-copiedShippingAddressContainer is-hidden">
            <ul>
                <li class="active">
                    <div class="billing-address-btn js-copiedShippingAddress">
                        
                        
                            <br />
                        
                        <br /> 
                        ,&nbsp;&nbsp;<br />
                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="js-checkoutAddressContainer">
            

            <div class="js-customAddress">
                
    <input type="hidden" name="address.isoCountryAlpha2" value="US" />

    
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group label-floating">
                <label class="control-label" for="fullName">Full Name</label>
                <input id="fullName" type="text" class="js-clearable form-control" name="address.fullName" value="" />
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group label-floating">
                <label class="control-label" for="addressLine1">Address</label>
                <input id="addressLine1" type="text" class="js-clearable form-control" name="address.addressLine1" value="" />
                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group label-floating">
                <label class="control-label" for="addressLine2">Address 2</label>
                <input id="addressLine2" type="text" class="js-clearable form-control" name="address.addressLine2" value="" />
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label" for="city">City</label>
                <input id="city" type="text" class="js-clearable form-control" name="address.city" value="" />
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label" for="stateProvinceRegion">State</label>
                <select id="stateProvinceRegion" class="js-clearable form-control" name="address.stateProvinceRegion">
                    <option value=""></option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AB">AB</option>
                    <option value="AS">AS</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="AE">AE</option>
                    <option value="AA">AA</option>
                    <option value="AP">AP</option>
                    <option value="BC">BC</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FM">FM</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="GU">GU</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MB">MB</option>
                    <option value="MH">MH</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NB">NB</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NL">NL</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="MP">MP</option>
                    <option value="NT">NT</option>
                    <option value="NS">NS</option>
                    <option value="NU">NU</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="ON">ON</option>
                    <option value="OR">OR</option>
                    <option value="PW">PW</option>
                    <option value="PA">PA</option>
                    <option value="PE">PE</option>
                    <option value="PR">PR</option>
                    <option value="QC">QC</option>
                    <option value="RI">RI</option>
                    <option value="SK">SK</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VI">VI</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                    <option value="YT">YT</option>
                </select>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group label-floating">
                <label class="control-label" for="postalCode">Postal Code</label>
                <input type="text" id="postalCode" class="js-clearable form-control" name="address.postalCode" value="" />
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group label-floating">
                <label class="control-label" for="phonePrimary">Phone</label>
                <input type="tel" id="phonePrimary" name="address.phonePrimary" value="" class="js-clearable form-control" />
                
                
            </div>
        </div>
    </div>


            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group label-floating">
                    <label class="control-label" for="emailAddress">Email Address</label>
                    <input id="emailAddress" type="text" class="js-clearable form-control" name="emailAddress" value="customer@gmail.com" />
                    
                </div>
            </div>
        </div>
    </div>

                    </div>
                <input name="csrfToken" type="hidden" value="K0IO-LZG5-YYA3-LEIK-ESVN-8VDV-HKMJ-RJAR"/></form>

                <div class="col-sm-6">
                    <h4><span>Payment Information</span></h4>

                    <div class="row">
    <div class="col-sm-12 credit-card-types-wrapper">
        <ul class="credit-card-types">
            <li><img src="/img/payment/american-express-curved-32px.png"/></li>
            <li><img src="/img/payment/mastercard-curved-32px.png"/></li>
            <li><img src="/img/payment/visa-curved-32px.png"/></li>
            <li><img src="/img/payment/discover-curved-32px.png"/></li>
        </ul>
    </div>
</div>
                    
    <div class="js-creditCardData">
        
            
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="cardNumber">Card Number</label>
                    <input id="cardNumber" type="text"
                           name="CREDIT_CARD_NUMBER"
                           value="4111111111111111"
                           autocomplete="off"
                           class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-floating">
                    <label class="control-label" for="securityCode">CVV</label>
                    <input id="securityCode" type="text"
                           name="CREDIT_CARD_CVV"
                           value="123"
                           autocomplete="off"
                           class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-floating">
                    <label class="control-label" for="cardExpDate">Exp. Date</label>
                    <input id="cardExpDate" type="text"
                           name="CREDIT_CARD_EXP_DATE"
                           placeholder="MM/YY"
                           value="01/99"
                           autocomplete="off"
                           class="form-control" />
                </div>
            </div>
        </div>
    </div>


                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="shouldSaveNewPayment-check" checked="checked" />
                            <span>Save this card for future purchases</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
                <div id="COD" class="tab-pane">
                    <div id="cod_payment_method">
    <p>Payment will be collected upon item's delivery.</p>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="checkout-stage-action">
                <a href="#" class="btn btn-primary pull-right js-submitPaymentCheckoutStage">
                    <span>Continue</span> <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>
</div>


    <div class="card checkout-card">
    <div class="checkout-stage-title">
        <h4>Review</h4>
    </div>

    <div class="row checkout-stage js-reviewStageContent is-hidden">
        <div class="col-sm-8 checkout-review-stage-prompt">Before you place your order, please review your provided shipping, billing, and payment information.</div>

        <form action="/checkout/complete" id="PayPalCheckoutSubmissionForm" method="POST" novalidate="novalidate" class="is-hidden">
        <input name="csrfToken" type="hidden" value="K0IO-LZG5-YYA3-LEIK-ESVN-8VDV-HKMJ-RJAR"/></form>

        <form action="/checkout/complete" id="CreditCardCheckoutSubmissionForm" method="POST" novalidate="novalidate" class="is-hidden">
            <input id="payment_method_nonce" name="payment_method_nonce" type="text" />
        <input name="csrfToken" type="hidden" value="K0IO-LZG5-YYA3-LEIK-ESVN-8VDV-HKMJ-RJAR"/></form>

        <form action="/checkout/cod/complete" id="CODCheckoutSubmissionForm" method="POST" novalidate="novalidate" class="is-hidden"><input name="csrfToken" type="hidden" value="K0IO-LZG5-YYA3-LEIK-ESVN-8VDV-HKMJ-RJAR"/></form>

        <div class="col-sm-4 checkout-stage-action">
            <a href="#" class="btn btn-primary pull-right js-performCheckout">
                <span>Place Your Order</span> <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </div>
    </div>
</div>

</div>
