<li class="dropdown js-miniCart">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="material-icons">shopping_cart</i>
        <span class="cart-count-badge js-cartItemsCount">1</span>
    </a>
    <ul class="dropdown-menu mini-cart-wrapper">
        <li class="mini-cart-item">
    <!-- Product Image -->
    <div class="img-container">
        <a href="/hot-sauces/hoppin_hot_sauce">
            
            <img src="/cmsstatic/img/sauces/Hoppin-Hot-Sauce-Bottle.jpg" alt="Hoppin&#39; Hot Sauce" />
        </a>
    </div>
    <div class="mini-cart-item-info">
        <!-- Product Name -->
        <div class="mini-cart-item-name">
            
                <span>Hoppin' Hot Sauce</span>
                
                
            
            
        </div>

        
            <ul class="product-option-list">
                <!-- Product Options -->
                
            </ul>
        

        <!-- Per Unit Price -->
        <span class="mini-cart-item-price">$4.99</span>
        <span class="mini-cart-item-quantity"> x 1</span>

        <!-- Item Actions -->
        <ul class="mini-cart-item-actions">
            <li>
                
                    <!-- If the order item has product options, show a link to allow for configuring them -->




                

                
                    <a class="btn btn-simple btn-bordered btn-xs js-removeFromCart" href="/cart/remove?orderItemId=141&amp;productId=3">Remove</a>
                    
                
                
            </li>
        </ul>
    </div>
</li>

        
            <!-- Mini Cart Subtotal -->
            <li class="mini-cart-subtotal">
                <div>
                    <span>Subtotal</span>:
                    <span>$4.99</span>
                </div>
            </li>

            <!-- Mini Cart Total -->
            <li class="mini-cart-action">
                <a class="btn btn-primary goto-full-cart" href="/cart">View Your Cart</a>
            </li>
        

        
    </ul>
</li>